* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mb-2 {
  margin-bottom: 8px !important;
}
